<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>
<div id="content">
    <div class="wrapper">
        <div class="about_item md-whiteframe-z1" id="vTaiwan">
            <div class="about_item_title">關於 <span class="logo">社會民主黨網路審議</span></div>
            <div class="about_item_content">
                <p>這是<b>社會民主黨籌備處</b> 討論政綱與政見的平台，由籌備處與 g0v 動民主專案參與者共同建置。</p>
            </div>
        </div>
        <div class="about_item md-whiteframe-z1" id="Why">
            <div class="about_item_title">為何參加？</div>
            <div class="about_item_content">
              <p>如果您認同台灣需要創建一個維護勞工權益的新經濟模式、建構一個尊重多元差異的社會安全網，以及透明開放、擴大參與的政府，我們需要您一起來構思實踐這些理念的方式。</p>
              <p>社會民主黨籌備處在這三個多月，已經緊鑼密鼓地拜訪許多長期耕耘的社運團體，並潛心研究國內外的相關政策，初步草擬了實踐理念的政綱與政見；但我們相信，如果能集結更多人的智慧，一起修補出更完整的方法，在這實踐的道路上，我們的步伐將踏得更為穩健。</p>
              <p>不同於一般的網路討論，「網路審議」借重這幾年台灣推行審議式民主的經驗，分階段進行政綱與政見的審議。</p>
              <p>在第一階段（3/5 ～ 3/25），我們嘗試釐清問題，並試圖讓參與者聚焦在共同的理念價值。</p>
              <p>第二階段（3/29 ～ 6/30），社民黨將提出草擬的政綱與政見細節，且為了讓討論能建立在「知情參與」的基礎上，我們將盡可能地提供討論所需的相關資訊。當某個話題已經集結到許多具建設性的留言，我們將召開實體會議，收攏討論，修補原草案，甚至提出新的草案。</p>
              <p>無論您是想和社會民主黨實踐共同的理念，或是不想在這個「網路審議」的創舉中缺席，我們都歡迎且期待您的參與！</p>
            </div>
        </div>
    </div><!-- end of wrapper -->
    <div class="l_center">
              <a class="about_item_button" ng-click="go('how')">如何發言？</a>
          </div>
</div><!-- end of content -->

