<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>

<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>

<div id="content">
    <div class="wrapper">
        <div class="about_item md-whiteframe-z1" id="How">
            <div class="about_item_title">如何發言</div>
            <div class="about_item_content">
              <p>如果要讓您的發言具有影響力，成為具有建設性的留言，進而受邀參與實體會議討論，您不只要說明社會民主黨「應該做什麼」，也要說明「為什麼」。</p>
              <p>您可以提供最新資訊、個人相關經驗，或是具體可行的想法，這比上千個「我就是贊成」或「我就是反對」的留言，都要有用多了。</p>
              <p>所以，要如何寫出對社會民主黨有影響力的意見呢？</p>

              <p>在第一階段的「問題討論」（3/24 ～ 3/25），社民黨將就「新經濟」、「新社會」與「新政治」表態我們所相信的價值，如果您根本上反對這些價值，例如比起受薪階級，您更傾向為財團發聲；比起正視多元社會裡的差異，您更傾向弭平差異；比起開放透明的政治，您更傾向封閉黑箱，那您的意見我們將無法採納，因為這樣的意見違背社民黨的價值信仰。</p>

              <p>在這個階段，我們期待可以一起討論的是：
                <ul>
                <li>就各個討論話題，您有什麼具體的提案？</p>
                <li>您覺得還有什麼重要的話題沒有被討論到？</li>
                </ul>
              </p>

              <p>在第二階段的「提案討論」（3/29 ～ 6/30），社民黨將就「新經濟」、「新社會」與「新政治」三大領域，納入第一階段的討論意見，提出我們想推動的政綱與政見之細部資訊。在這個階段，我們期待可以更進一步討論的是：
              <ul>
              <li>無論您是否同意提案，請說明您希望社民黨做出哪些修正。</li>
              <li>在建議如何改進提案時，請清楚表明您已經考慮過哪些利弊得失。</li>
              <li>請提供任何您知道的資料，至少告訴我們哪些種類的資訊是重要的。</li>
              <li>即使您覺得提案已經很不錯，也往往可以變得更好。您可以協助社民黨讓提案更周詳。</li>
              </ul>
              </p>
              <p>請專注於會直接影響您的、您了解的、或是您有經驗的部分來發言：
              <ul>
              <li>請分享您意見背後的背景知識，如果可能的話，最好是附上來源出處。</li>
              <li>請詳細說明，最好是給出具體的例子。</li>
              <li>請提供任何您知道的資料，至少告訴我們哪些種類的資訊是重要的。</li>
              <li>請清楚地表達您的看法、顧慮，或想法。</li>
              <li>如果發現社民黨的說明不好懂，也可明確指出模糊之處，好讓社民黨改良說明文字，使其他參與者更好理解。</li>
              </ul>
              </p>
              <p>如果您不同意其他評論者或社民黨的意見，請有禮貌的說明為何不同意，而非流於情緒化的批評：
              <ul>
              <li>如果您只是攻擊或忽略跟您意見不同的人，您將無法協助社民黨釐清為何它應決定這樣做或那樣做的理由。</li>
              <li>不要嘲笑、挖苦、人身攻擊。這對社民黨沒有幫助，而且您很可能會違反網站的使用規範。</li>
              <li>請相信參與者都能閱讀完整的討論串，不必重複張貼您已經寫過的內容。</li>
          </ul></p>

          <p>如果您能在別人的論點上再加點內容，讓它變得更好的話，那麼請回覆他們的意見，並加上自己的想法、原因或資訊。</p>
          <p>如果您單純只是認同某個論點，可以為它按「讚」。這讓您成為討論的一份子，而不用再說一次一樣的東西。</p>

          <p>我們會盡量為大家介紹討論所需的相關資訊，如果您有疑問的話，請向我們提問。</li>
          <p>版主團隊是中立的，對各個發言不會採取支持或反對立場。</p>

          <p style="background: #FFFFCA">用高亮度標示的意見，是版主推薦作為有效意見的範例。沒有哪個意見是十全十美的，但版主會盡量挑出符合本頁所描述精神的發言。</p>
            </div>
        </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->
    <div class="l_center">
              <a class="about_item_button" ng-click="go('phase1')">開始討論</a>
          </div>
          <br>

