<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>


<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>

<div id="content--cover">
    <div class="cover" style="overflow: hidden">
    <ul rn-carousel rn-carousel-index="idx"
        rn-carousel-controls
        rn-carousel-transition="hexagon"
        rn-carousel-buffered style="height: 300px; margin-left: 20%; margin-right: 20%">
    <li ng-repeat="p in PREFIXES">
        <div class="cover_title_wrap">
          <div class="cover_title">{{p.title}}{{sidebar}}</div>
          <div class="cover_botton_wrap">
              <div class="cover_botton" ng-click="go(p.key)">參與討論</div>
          </div>

        </div>
        <div class="cover_img_wrap">
            <img class="cover_img" ng-src="images/cover/{{p.key}}.jpg">
        </div>
    </li>
    </ul>
        </div>

      <div class="about_paper md-whiteframe-z1">
        <div class="about_item l_center">
            <div class="about_item_title" ng-bind="PREFIXES[idx].issue"></div>
            <div class="about_item_content">
              <p ng-bind="PREFIXES[idx].description"></p>

              <div class="Stage">
                <div class="Stage-index">
                  <!-- <div class="Stage-index-number">1</div> -->
                  <img src="images/phase1.jpg" title="第一階段：問題討論" alt="第一階段：問題討論">
                </div>
                <div class="Stage-content">
                    <b>3/5 - 3/25</b>
廣徵各界意見
                    <br>
                    <br>
                    社會民主黨就新經濟、新社會、新政治三大領域，提出相關的理念思辨與政策討論題目。
              </div>
              </div><!-- end of Stage -->

              <hr>

              <div class="Stage">
                <div class="Stage-index">
                  <!-- <div class="Stage-index-number">2</div> -->
                  <img src="images/phase2.jpg" title="第二階段：提案討論" alt="第二階段：提案討論">
                </div>
                <div class="Stage-content">
                    <b>3/29 – 6/30</b>
    社會民主黨提出政綱與政策提案
                    <br>
                  <br>
                    邀請公眾網路審議討論，補充或修改政綱與政策。
                    <br>
                  <br>
                    召開實體審議會議收攏討論，網路審議中有建設性提案的版友優先邀請參與，並將實體審議後的修補或新提案放到相應的討論版中。
              </div>
              </div><!-- end of Stage -->

              <hr>
              <div class="Stage">
                    <!-- 
                <div class="Stage-index">
                    <div class="Stage-index-number">3</div> -->
                  <!--
                  <img src="images/phase3.jpg" title="第三階段：定案" alt="第三階段：定案">
                </div>
                -->
                <div class="Stage-content">
                  <b>7/1 – 7/15</b>
                  「社會民主黨對人民的政策承諾」定案
                  <br>
                  <br>
                  確認新經濟、新社會、新政治三大領域的相關政綱與政見，形成「社會民主黨對人民的政策承諾」。
                  </ul>
              </div>
          </div>
          <!-- end of Stage -->       
            </div>
        </div>
        <div class="l_center">
        <div ng-click="go('about')" class="about_item_button md-whiteframe-z1">了解更多</div>
      </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->

</div><!-- end of auth -->
